{% extends "base.html" %}
{% block content %}
<section class="page-head">
  <h1>Vision</h1>
  <p class="sub">이번 학기 → 1년 → 장기 목표</p>
</section>

<section class="section">
  <h2>이번 학기</h2>
  <ul class="bullets">
    <li>NAAGA 웹사이트 1.0 오픈(소개/기록/모집)</li>
    <li>교내 프로젝트 1개 이상 ‘완료’ 경험 만들기</li>
    <li>매 활동마다 기록으로 남기는 기록 문화 형성 및 정착</li>
  </ul>
</section>

<section class="section">
  <h2>1년</h2>
  <ul class="bullets">
    <li>동아리 대표 프로젝트를 포트폴리오로 발표</li>
    <li>교내 프로젝트 2개 이상 ‘완료’ 경험 만들기</li>
<li>학교에서 접하기 어려운 공부를 함께 공부하며, 실질적 배움을 만들기</li>


  </ul>
</section>

<section class="section">
  <h2>장기</h2>
  <ul class="bullets">
    <li>NAAGA = ‘실전형 커뮤니티’로 자리잡기</li>
    <li>졸업할 때 ‘결과물’과 '성취감'이 남는 동아리</li>
  </ul>
</section>
{% endblock %}
